@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*Navegador*/
#mainNav {
	padding: 10px 0px;
	background-color: #28283e;
}
.navbar-header button {
	background-color: transparent;
	border: transparent;
}
.navbar-header .navbar-brand {
	font-size: 30px;
	font-weight: 700;
	color: white;
}
.navbar-header .navbar-brand:hover {
	color: #eee;
}
.navbar-header .navbar-brand i {
	color: #00e68a;
	margin-right: 10px;
}
.collapse.navbar-collapse li:hover {
	background-color: #14141f;
	border-radius: 2px;
}
.nav li a {
	color: white!important;
	font-size: 15px;
}
#life-of-pi {
	background-image: url(../images/slider/bg1.jpg);
	position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #FDFBF9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 50px;
    padding-top: 25%;
    padding-bottom: 10%;
    text-align: left;
}
/*utilidades*/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.icon-contact {
	color: white;
	font-size: 30px;
	background-color: #00804d;
	border-radius: 100%;
	padding: 15px;
	float: left;
	margin: 10px 0px;
}
.txt-white {
	color: #F8F8F8;
}
.pd-10 {
	padding: 10% 0%;
}
.mrg-right-5 {
	margin-right: 15px;
}
.fr {
	float: right;
}
.ptn-rel {
	position: relative;
}
.dis-in {
	display: inline-block;
}
h4, h5, h6 {
	color: #A8A8A8;
}
/*background themes*/

.bg-green {
	background-color: #00e68a;
	padding: 10px 0px;
}
.bg-gray {
	background-color: #eee;
	padding: 40px 0px;
}
.bg-white {
	background-color: white;
	width: 240px;
	margin-right: 10px;
}
.bg-red {
	background-color: #ff5050;
	padding: 40px 0px;
}
.bg-blue {
	background-color: #3c3c5d;
	padding: 40px 0px;
}


.bg-white a {
	color: black;
	font-style: bold;
	font-weight: 700;
}
.bg-white a:hover {
	text-decoration: none;
}
.bg-white img {
	margin-bottom: 15px;
	padding-top: 10px;
	width: 200px;
}
.white-line {
	border-left: 5px solid #ffffff;
	padding-left: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.white-line p {
	font-weight: 700;
}
.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.list {
	font-family: inherit;
}
.btn-group > .btn {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
}
footer {
	background-color: #28283e;
	padding: 40px 0px;
}
.menu-footer {
	float: right;
}
.menu-footer li {
	list-style-type: none;
	display: inline-block;
	margin-left: 5px;
}
.menu-footer a {
	text-decoration: none;
	color: #F8F8F8;
}
@media (max-width: 768px) {
	.bg-white img {
		width: 100px;
	}
	.bg-white {
		width: 100px;
		height: 150px;
		margin-right: 5px;
		margin-top: 20px;
		font-size: 10px;
	}
	.bg-green .pd-10 {
		padding-top: 20%;
	}
	.mt-10 {
		margin-top: 10%;
	}
}
/*Control Fx*/
.bounceIn {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.gray-j{
	background-color: #F0F0F1;
}
.verde-j{
	margin-top: 78px;
	background-color: #2ECC71;
	height: auto;
}
.blanc{
	color: #fff;
}
.mar-1j{
	margin:1em;
}
.mar-2j{
	margin: 2em;
}
.pd-cont1{
	padding: 50px 10%; 
}
.pd-cont2{
	padding: 10px 10%;
}
.burbuja{
	border: solid 4px #fff;
	width: 14em;
	height: 14em;
	border-radius: 100%; 
	margin-left: 2em; 
}
.lineal{
	display: inline-block;
}
.icono-j{
	border-radius: 100%;
}
.fb-j{
	background-color: #4F7DD4;
	padding: 0.6em 0.8em;
	margin-bottom: 3em;
}
.ggl-j{
	background-color: #DC422B;
	padding: 0.5em;
	margin-bottom: 3em;
}
.twt-j{
	background-color: #5BCEFF;
	padding: 0.5em 0.6em;
	margin-bottom: 3em;
}
.in-j{
	background-color: #21A6D8;
	padding: 0.5em 0.6em;
	margin-bottom: 3em;
}
.bg-grisj{
	background-color: #939393;
}
.ico-grande{
	padding: 0.5em;
}
.mar-tj{
	margin-top: 0.5em;
}
.raya-j{
	border-bottom: solid #F5F5F5 2px;
}
.linea-v{
	padding-left: 1em;
	border-left: solid 5px #F5F5F5; 
	margin-bottom: 3em;
}
.icon-md{
    font-size: 36px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    margin-right: 10px;
    margin-top: 47px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    border-radius: 50%;
}
#social{
	width: 100%;
	height: 200px;
}
.bg-green{
	background-color: #2ecc71;;
}
#cont-pw{
	margin-top: 265px;
}
.text-white{
	color: white;
}
.center{
	text-align: center;
}
.pd-b{
	padding-bottom: 42px;
}
.back-gray{
	background-color: #F1F1F1;
	padding: 2% 0%;
}
.back-white{
	padding: 3%;
	background-color: #fff;
	margin-top: 30px;		
}
.green{
	color: #ffffff;
}
.img-alto{
	width: 100%;
	height: 250px;
}
header{
	background-color: #2ECC71;
}
.raya-j{
	border-bottom: solid #F5F5F5 2px;
}
.linea-v{
	padding-left: 1em;
	border-left: solid 5px #F5F5F5; 
	margin-bottom: 3em;
}
@media (max-width: 768px) {
	.bg-white img {
		width: 100px;
	}
	.bg-white {
		width: 100px;
		height: 150px;
		margin-right: 5px;
		margin-top: 20px;
		font-size: 10px;
	}
	.bg-green .pd-10 {
		padding-top: 20%;
	}
	.mt-10 {
		margin-top: 10%;
	}
}
.white-line {
	border-left: 5px solid #ffffff;
	padding-left: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.white-line p {
	font-weight: 700;
}
.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.list {
	font-family: inherit;
}
.btn-group > .btn {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
}
/*blog*/
.mar{
	margin-top: 30px;
}
.blanco{
	background-color:#ffffff;
	width: 100%;
	height: auto;
}
.ima{
	width: 100%;
}

.padi{
	padding-left: 10px;
}
.claro{
	color: #BDBDBD;
}
.claro1{
	background-color:#E6E6E6;
	height: auto;
}
.grad{
	font-size: 18px;
}
.boton1{
	width: 10%;
	height: 25px;
}
.tex_btn{
	font-size: 10px;
}
.cuadro{
	width: 100%;
	height:140px;
	background-color: #BDBDBD;
}
.cuadro2{
	width: 80%;
	height:auto;
	background-color: #BDBDBD;
}
.marco{
	border:3px solid #ffffff;
	margin-bottom: 20px;
}
.posi{
    margin-top: -90px;
	margin-left: 100px;
}
.derecha2{
	margin-left: 10%;
}
ul.renglon{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.renglon li {
  display: inline-block;
  margin: 0 0 2px 0;
}
.abajo {
  margin-bottom: 30px;
}
.punto{
	list-style: none;
}
.emerald {
  background-color: #2ecc71;
  height: 250px;
}
#title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
ul.breadcrumb {
  margin: 20px 0 0;
  background: transparent;

}
ul.breadcrumb > li {
  text-shadow: none;

}
ul.breadcrumb > li.active {
  color: rgba(255, 255, 255, 0.7);
}
.baja{
	margin-top: 50px;
}
.mar2{
	margin-top: 80px;
}

/*blog*/